*.psd filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/package-lock.json filter=lfs diff=lfs merge=lfs -text
/allFighters.json filter=lfs diff=lfs merge=lfs -text
/printedFighters.json filter=lfs diff=lfs merge=lfs -text
/printedFighters2.json filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/allBoutDetails.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/allBoutDetails2.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/allBoutDetails3.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/allBoutDetails4.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/allBoutDetails5.json filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/allBouts.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/boutDetailsScript.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/boutsPerFighterScript.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/importBouts.json filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/realAllBouts.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/realBoutDetails.json filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/reallAllBouts2.js filter=lfs diff=lfs merge=lfs -text
/scraping/dump/Cross/fighters.bson filter=lfs diff=lfs merge=lfs -text
/scraping/events/mongoEvents.js filter=lfs diff=lfs merge=lfs -text
/scraping/events/mongoEventsWIDs.js filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/allFighters.json filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/export.js filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/export2.json filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/export3.js filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/fighterURLsAtoZ.js filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/import.json filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/printedFighters.json filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/printedFighters2.js filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/realfighterURLsAtoZ.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/boutExport.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/boutImport.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/fightersWithBouts.json filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/realBoutDetails.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/realBoutDetailsWID.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/realBoutDetailsWID2.js filter=lfs diff=lfs merge=lfs -text
/scraping/bouts/realBoutDetailsWID3.json filter=lfs diff=lfs merge=lfs -text
/scraping/events/eventsWithBouts.json filter=lfs diff=lfs merge=lfs -text
/scraping/events/export.js filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/export.json filter=lfs diff=lfs merge=lfs -text
/scraping/fighters/import2.json filter=lfs diff=lfs merge=lfs -text
